/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f9f9f9;
  color: #333;
  line-height: 1.4;
}

/* Navbar */
header {
  background: #054b6e;
    border-radius: 0px;
  color: white;
  padding: 10px 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo{
  width: 10%;
}

.navbar .nav-links {
  display: flex;
  gap: 4rem;
  list-style-type: none;
}

.navbar .nav-links a {
  color: white;
  outline: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}

/* Contact Section */
.contact-hero{
  display: flex;
  justify-content: space-between;
  margin: 40px 50px;
}

.hero-content{
  width: 50%;
}

.hero-content h1{
  color: black;
  font-weight: 700;
  font-size: 2rem;
}

.hero-content h2{
  color: #0077cc;
  font-size: 2rem;
  font-weight: 700;
  margin: 60px 0px;
}

.hero-content p{
  font-size: 1.05rem;
  font-weight: bold;
  color: #333;
  line-height: 26px;
}

.contact-details{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-hero img{
  width: 650px;
  height: 430px;
  border-radius: 1.5rem;
  aspect-ratio: 1/1;
  display: block;
}

.contact-form{
  display: flex;
   justify-content: space-between;
  margin: 40px 50px;
}

#contactForm{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #4a4a4a;
}

#contactForm h3{
  color: #0077cc;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

#contactForm input,#contactForm textarea{
  width: 95%;
  padding: 12px 10px;
  border: 2px solid #0077cc;
  border-radius: 8px;
  outline: none;
  background-color: #f2f2f2;
}

#contactForm textarea{
  resize: vertical;
}

#contactForm input[type=button]{
  width: 100%;
  padding: 14px 0px;
  margin-top: 40px;
  border: none;
  background-color: #0077cc;
  color: white;
}

.contact-form img{
  width: 650px;
  height: 430px;
  border-radius: 1.5rem;
  aspect-ratio: 1/1;
  display: block;
}

.info{
  display: flex;
  gap: 100px;
  margin: 40px 50px;
}
.feedback,.address{
  width: 50%;
}

.info h2 {
  color: #0077cc;
  margin-bottom: 20px;
  font-size: 2rem;
}

.info ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.address ul li{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 40%;
}

.address ul div{
  display: flex;
  gap: 10px;
}

/* Footer */
footer {
  background: #054b6e;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}